<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Los alumnos del A no son muy buenos en AOEII</h1>
    <h2> Los alumnos del A son más buena onda que los del B</h2>
    <h3>En el grupo A van a pasar
        <%=numero %>
    </h3>
</body>
</html>